#page {height: 98vh; display: flex; flex-direction: column; justify-content: space-between;}
#upper, #lowest {display: flex; justify-content: space-between;}
#upper a, #lowest a {display: inline-block; width: 80px;}